.main-box {
  display: flex;
  flex: 1;
  Position: absolute;
  top: 160px;
  right: 0px;
  left: 0px;
  height: 900px;
  background-color: black;
}

.main-img {
  position: relative;
  height: 900px;
  width: 1263px;
  object-fit: cover;
  opacity: 0.5;
}

.main-box-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100px;
  top: 150px;
  width: 750px;
  color: white;
}

.title {
  font-family: Lato;
  font-size: 90px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.uni-title {
  font-family: gotham;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
}

span {
  color:rgb(255, 0, 64);
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: gotham;
  line-height: 25px;
}

.buttons-1 {
  position: absolute;
  top: 500px;
  left: 100px;
}

.socials-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex;
  top: 200px;
  left: 0;
  width: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 12px;
  margin-top: 10px;
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
}

.socials-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-left: 3px;
  margin-bottom: 25px;
  transition: 0.2s;
}

.socials-img:hover {
  width: 40px;
}

.our-mission {
  color: white;
  background-color: rgb(255, 0, 64);
  border: none;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 20px;
}

.our-story {
  color: black;
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px; 
}