.stats-section {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 2600px;
  left: 0px;
  right: 0px;
  height: 250px;
  padding-left: 50px;
  background-color: rgb(81, 2, 22);
}

.stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.stats-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 30px;
}

.stats-figure, 
.stats-bio {
  color: white;
  font-family: Arial;
}

.stats-figure {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.stats-bio {
  font-size: 20px;
  font-weight: 400;
  margin-top: -5px;
}